<h2>Логирование</h2>
<form action="login" method="post">
	<div>
			<label>Логин:</label>
			<input type="text" name="username" /><br />
	</div>
	<div>
			<label>Пароль:</label>
			<input type="password" name="password" />
	</div>
	<div>
			<input type="submit" value="Войти" />
	</div>
</form>
<br>
<h2>Регистрация</h2>
<form action="signup" method="post">
	<div>
			<label>Логин:</label>
			<input type="text" name="username" /><br />
	</div>
	<div>
			<label>Пароль:</label>
			<input type="password" name="password" />
	</div>
	<div>
			<input type="submit" value="Регистрация" />
	</div>
</form>
